.notes-content-wrapper {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notes-content-header {
  margin-bottom: 16px;
  justify-content: space-between;
  width: 100%;
}

.notes-editor {
  flex: 1;
  min-height: 300px;
}

/* MOBILE: giáº£m padding */
@media (max-width: 767px) {
  .notes-content-wrapper {
    padding: 16px;
    margin-top: 48px;
  }
  .notes-name-header {
    font-size: 18px !important;
  }
  .btn-save-mobile {
    position: fixed;
    top: 2.5%;
    right: 4.5%;
    z-index: 100;
  }
}
